*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 1140px;
  padding: 133px 30px;
  margin-top: 95px;
}

.content__details,
.result {
  margin-right: 2%;
}

.result {
  margin: 80px 0;
  width: 711px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  margin-right: 10px;
  border: none;
}

.search-form__fieldset:last-child {
  margin-right: 0;
}

.content__list {
  height: 305px;
  width: 450px;
  overflow: auto;
  padding-right: 30px;
}

.content__list-item {
  margin-bottom: 30px;
  width: 405px;
  padding-left: 10px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 49%;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.result__video-container,
.content__list {
  position: relative;
}

.title {
  font-size: 75px;
  line-height: 94%;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 20px 10px;
  font-family: 'Oswald', sans-serif;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
  font-family: 'Oswald', sans-serif;
}

.content__video-card-description {
  line-height: 1.62;
  font-size: 18px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 4px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  cursor: pointer;
  align-items: center;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:focus, 
.search-form__submit-button:focus,
.search-form__pseudo-checkbox:focus, 
.button:focus, 
.content__card-link:focus, 
.more-button:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__textfield {
  font-weight: 400;
  width: 225px;
  padding: 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
  color: inherit;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield::placeholder {
  color: #fff;
  opacity: 0.7;
}

.search-form__checkbox-list {
  display: flex;
  gap: 10px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  position: relative;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label-text {
  margin-left: 10px;
}

.button {
  display: inline-block;
  padding: 6px 73px;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  font-family: 'Fira Sans Condensed', sans-serif;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.button:hover,
.search-form__submit-button:hover,
.more-button:hover {
  text-decoration: underline;
}

.button:active,
.search-form__submit-button:active,
.more-button:active {
  background-color: #545050;
}


.search-form__textfield:focus-visible, 
.search-form__submit-button:focus-visible,
.search-form__pseudo-checkbox:focus-visible, 
.button:focus-visible, 
.content__card-link:focus-visible, 
.more-button:focus-visible
 {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: center;
  margin-top: 15px;
  width: fit-content;
}

.more-button {
  width: 405px;
  margin-left: 10px;
}
